<div class="main">
    <div class="galery">
<app-carrousel></app-carrousel>
    </div>
    <div class="description">
        <div class="description-container">

            <img src="assets/images/full-logo.png" alt="logo">
            <p>
                MapGis es una plataforma interactiva que ofrece mapas detallados y capas informativas para explorar el mundo. Desde geografía hasta datos climáticos, te sumerge en la información geoespacial para aprender y comprender mejor nuestro planeta. Con herramientas y recursos educativos integrados, facilita el aprendizaje a través de mapas para usuarios de todas las edades.</p>
                <p class="slogan">¡Embárcate en un viaje de conocimiento con MapGis hoy mismo!</p>
        </div>
        
    </div>
</div>