/* You can add global styles to this file, and also import other style files */
@import "https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/light/main.css";
html,
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--ligth-gray);
}

:root {
  --green: #06d170;
  --ligth-gray: #eaeceb;
  --dark-gray: #b3b4b4;
  --black: #303030;
  --white: #faf9f6;
}
